<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-muted" style="padding:25px 0 5px 0">
            <span class="h1">REMIND PASSWORD</span>
        </div>

        <div class="alert alert-success" role="alert" ng-show="rpVm.status == 'OK'">REMIND PASSWORD status => OK</div>
        <div class="alert alert-danger" role="alert" ng-show="rpVm.status == 'ERROR'">REMIND PASSWORD status => ERROR</div>

        <form name="rpVm.RemindPasswordForm" role="form" novalidate
              ng-submit="rpVm.remindPassword()">
            <div class="form-group"
                 ng-class="{'has-error' : rpVm.RemindPasswordForm.login.$invalid && rpVm.RemindPasswordForm.$submitted}">
                <label for="remind-password-login">Login</label>
                <input type="email" class="form-control input-lg" name="login" id="remind-password-login" placeholder="Login"
                       ng-model="rpVm.login"
                       required>
                <small class="help-block no-paddings text-error"
                       ng-show="rpVm.RemindPasswordForm.login.$error.required && rpVm.RemindPasswordForm.$submitted">
                    Login is required field
                </small>
            </div>
            <button type="submit" class="btn btn-default btn-lg pull-right" ng-disabled="rpVm.loading">Remind</button>
        </form>

    </div>
</div>

